<!-- <header> -->
    <!-- <div>Bonjour {{ user.nom | titlecase }} {{ user.prenom | titlecase }} </div> -->
    <!-- <button (click)='logout()'>Logout</button> -->
<!-- </header> -->

<header class="header">
    <div class="menu-icon" onclick="openSidebar()">
      <span class="material-icons-outlined">menu</span>
    </div>
    <div class="header-left">
      <span class="material-icons-outlined">search</span>
    </div>
    <div class="header-right">
      <span class="material-icons-outlined">notifications</span>
      <span class="material-icons-outlined">email</span>
      <span class="material-icons-outlined">account_circle</span>
    </div>
  </header>