/*********************style de page title*************************/
.menu .ligne1{
    border-top:2px solid black;
    border-bottom:2px solid black;
    width: 100px;
    height: 9px;
    margin-top: 22px;
    margin-right: 21px;
}
.menu .ligne2{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100px;
    height: 9px;
    margin-top: 22px;
    margin-left: 21px;
}
.menu .cc{
    text-align: center;
    display: flex;
    justify-content: center;
}
.container h1{
    font-family: 'Great Vibes', cursive;
    font-size: xxx-large;
}
/**************************end de style page title***********************************/
/******message panier vide avec dispaly dynamique****/
#msgPanVid{
    display: none;
    font-family: 'surve', cursive;
    font-size: xxx-large;
    color: black;
}
#PanierCotnent{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: center;
}
#PanierCarts{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 5%;
    border: 2px solid black;
}
.Cart{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 90px;
}
.cartText{
    display: flex;
    flex-direction: row;
   
}
.cartText p:first-child{
    margin-left: 15px;
}
.cartText .text{
    margin-left: 20%;
}
.Cart img{
    width: 20px;
    height: 20px;
    margin-left: 20%;

}
.CartPanjour{
    width: 8%;
    height: 10px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 20%;
    background-color: #03999e82;
    position: relative;
}
.CartPanjour p{
    font-size: 20px;
    font-weight: bold;
    font-family: 'inter';
    position: absolute;
    top:-15px;
    left:-8px
}
.Cart::after{
    content: "";
    width: 20%;
    height: 1px;
    background-color: rgba(173, 161, 161, 0.807);
    position: absolute;
    bottom: 1%;
    left: 43%;
}
/********************* end style panier carts************************/
/*********************style de section totale*************************/
#Totale{
box-shadow: 3px 4px white;
width: 300px;
height: 300px;
margin-right: 5%;
border: 2px solid black;
}
