/*********************style de page title*************************/

.menu h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 8vh;
}

.menu .ligne1 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100px;
    height: 9px;
    margin-top: 28px;
    margin-right: 21px;
}

.menu .ligne2 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100px;
    height: 9px;
    margin-top: 28px;
    margin-left: 21px;
}

.menu .cc {
    text-align: center;
    display: flex;
    justify-content: center;
}


/**************************end de style page title***********************************/
/******message panier vide avec dispaly dynamique****/
#msgPanVid {
    display: block;
    font-family: 'surve', cursive;
    font-size: large;
    color: black;
}

#PanierCotnent {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: center;
}

#panierCartsTotale {
    display: flex;
    flex-direction: column;
    width: 50%;

}

#PanierCarts {
    display: flex;
    flex-direction: column;
    height: auto;
    border-bottom: 1px solid #A9A9A9;
}

.Cart {
    position: relative;
    margin-bottom: 5%;
}

.Cart::after {
    content: "";
    width: 20%;
    height: 1px;
    background-color: #A9A9A9;
    position: absolute;
    bottom: -20%;
    left: 43%;
}

.cartText {
    display: flex;
    flex-direction: row;
    height: 40px;
    padding-left: 4%;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 2%;
    width: 100%;

}

.cartText .text {
    margin-left: 30%;

}

.Cart img {

    height: 20px;
    margin-left: 20%;
}

.Cart:last-child::after {
    width: 0;
}

.CartPanjour {
    margin-left: 2%;
    margin-top: 2%;
}

.CartPanjour p {
    font-size: 1.5em;
    margin-bottom: 2%;
    text-shadow: 7px 6px 8px #03999e
}

#totaleSpan {
    display: flex;
    margin-top: 2%;
    font-size: 1em;
    font-weight: bold;
}

#PanierCotnent span p:last-child {
    margin-left: 45%;
}

/********************* end style panier carts************************/
/*********************style de section totale*************************/
#Totale {
    box-shadow: 3px 4px white;
    width: 350px;
    height: 250px;
    margin-left: 3%;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-shadow: 2px 7px 16px rgba(0, 0, 0, 0.31);
    margin-top: 3%;
}

#Totale h2 {
    font-family: 'inter', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 8%;
    margin-top: 8%;
    position: relative;
    border-bottom: 1px solid #A9A9A9;
    width: 80%;
    padding-bottom: 3%;
}
#Totale span {
    color: rgb(7, 6, 6);
}

#Totale p {
    position: absolute;
    top: 35%;
    left: 8%;
    font-family: 'inter';
    font-size: 20px;
    
}

#Totale button {
    background-color: #03999e9d;
    width: 90%;
    margin-left: 2%;
    color: #F5F5F5;
    text-align: center;
    font-weight: 400;
    border: 0;
    position: absolute;
    top: 80%;
    left: 3%;
    font-size: 15px;
}

/******************************Responsive*********************************/
@media screen and (max-width: 1024px) {
    #PanierCotnent {
        flex-direction: column;
    }

    #panierCartsTotale {
        width: 60%;
    }

    #PanierCotnent {
        align-items: center;
    }

    .CartPanjour p {
        font-size: 1.5em;
    }

    .Cart::after {
        width: 40%;
        left: 35%;

    }
}

@media screen and (max-width: 600px) {
    #Totale {
        margin-top: 8%;
        width: 300px;
        height: 200px;
    }
}

/************************************************************************/