/*********************style de page title*************************/

.menu h1{
    font-family: 'Great Vibes', cursive;
    font-size: 8vh;
}
.menu .ligne1{
    border-top:2px solid black;
    border-bottom:2px solid black;
    width: 100px;
    height: 9px;
    margin-top: 28px;
    margin-right: 21px;
}
.menu .ligne2{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100px;
    height: 9px;
    margin-top: 28px;
    margin-left: 21px;
}
.menu .cc{
    text-align: center;
    display: flex;
    justify-content: center;
}


/**************************end de style page title***********************************/
/******message panier vide avec dispaly dynamique****/
#msgPanVid {
    display: none;
    font-family: 'surve', cursive;
    font-size: xxx-large;
    color: black;
}

#PanierCotnent {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: center;
}
#panierCartsTotale{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#PanierCarts {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    height: auto;
    border-bottom: 1px solid gray;
    
}

.Cart {
    position: relative;
    margin-bottom: 5%;
}
.Cart::after {
    content: "";
    width: 20%;
    height: 1px;
    background-color: rgba(173, 161, 161, 0.807);
    position: absolute;
    bottom:-20%;
    left: 43%;
}
.cartText {
    display: flex;
    flex-direction: row;
    height: 40px;
    padding-left: 4%;
    font-size: 20px;
    font-weight:400;
    margin-bottom: 2%;
}
.cartText .text {
    margin-left: 20%;
}
.Cart img {
    width: 20px;
    height: 20px;
    margin-left: 20%;
}
 .Cart:last-child::after{
    width: 0; 
}
.CartPanjour {
    margin-left: 2%;
    margin-top: 2%;
}
.CartPanjour p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'inter';
    margin-bottom: 2%;
    text-shadow: 7px 6px 8px #03989E
}
span{
    margin-top: 2%;
    font-size: 20px;
    font-weight: bold;
}

/********************* end style panier carts************************/
/*********************style de section totale*************************/
#Totale {
    box-shadow: 3px 4px white;
    width: 300px;
    height: 300px;
    margin-right: 5%;
    border: 2px solid black;
}
