/*le style de le body de header */
body{
    font-family: 'Secular One', sans-serif !important;
}
/* Header */
html{
    scroll-behavior: smooth;
}
header {
    background: linear-gradient(rgb(0 0 0 / 34%), rgb(0 0 0 / 34%)), url(../../assets/images/headerImg.png) no-repeat center fixed;
    background-size: cover;
    margin:0;
    padding:0;
    height: 40em;
    width: 100%;
}

.carre{
    background-color: rgba(255, 255, 255, 55%);
    width: 100%;
    height: 50%;
}
.logo{
    text-align: center;
}
.button:hover{
     background: #03999e9d;
     border-radius: 25px;
     padding: 9px 23px;
     transition: 0.5s;
    color: white;
    text-decoration: none;
}

.button{
    background: none;
    border: none;
    padding: 9px 23px;
    transition: 0.5s;
    font-weight: 600;
    color: black;
    text-decoration: none;

    position: fixed;
    right: 43px;
    top: 79px;
}
.title{
    position: relative;
    top: 28vh;
    width: 94% !important;
}

.title h1{
    font-family: 'Great Vibes', cursive;
    color: white;
    font-size: 100px;
}

.carre .row a {
    text-decoration: none;
}
.title ul{
    list-style-type: none;
}
.title ul a{
    color:white;
    font-weight: bold;
    font-size: 31px;
    text-decoration: none;
}

/* Main */

footer{
    position: relative;
    top: 105vh;
}

.menu h1{
    font-family: 'Great Vibes', cursive;
    font-size: 8vh;
}

.menu .ligne1{
    border-top:2px solid black;
    border-bottom:2px solid black;
    width: 100px;
    height: 9px;
    margin-top: 28px;
    margin-right: 21px;
}
.menu .ligne2{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100px;
    height: 9px;
    margin-top: 28px;
    margin-left: 21px;
}

.menu .cc{
    text-align: center;
    display: flex;
    justify-content: center;
}

/* Tablette */
@media only screen and (max-width: 768px) {
    .title h1 {
        font-family: 'Great Vibes', cursive;
        color: white;
        font-size: 80px;
    }

    .title ul a{
        color:white;
        font-weight: bold;
        font-size: 29px;
    }
}










