<!--le body de le header avec background image et deux blocks-->
<div id="HeaderTop">
    <img src="./assets/images/logo.png" id="logo" alt="logo">
    <button id="ConctBtn" routerLink="auth/login" routerLinkActive="active">Se connecter</button>
</div>

<header>
    <div class="title container-fluid d-flex justify-content-between">
        <h1>Bienvenue</h1>
        <ul>
            <li>
                <a href="#menu" class="active">
                    <i class="fas fa-home icon"></i>
                    MENUS
                </a>
            </li>
            <li style="margin-top: 22px;"><a href="#carte">
                    <i class="fas fa-rss icon"></i>
                    CARTE
                </a>
            </li>
       </ul>
    </div>
</header>
