.background {
	display: flex;
	flex-direction: row;
	min-height: 30em;
	height: 100%;
	/* background-image: url("../../assets/images/cantine.jpg"); */
  background-image: url("../../../assets/images/cantine.jpg");
	background-size: cover;
}
.half-transparent {
	background-color: #f0f0f088;
}
.left_area {
	width: 35%;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 30em;
	padding: 0em 0 8em 0;
}
/* .logo {
} */
.title {
	font-size: 2em;
	margin: 0 0 1em 0;
}
.text {
	margin: 0 0 4em 0;
	font-size: 1.2em;
}
.right_area {
	background-color: #00000000;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 65%;
	min-height: 30em;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
.area_input {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4em 2em 4em 2em;
	margin-top: auto;
	margin-bottom: auto;
}
.input_form {
	margin: 0 0 2em 0;
	display: flex;
	flex-direction: row;
	height: 2em;

	font-size: 18px;

	--field-padding: 12px;
}
.input_icon_tile {
	position: absolute;
	background-color: #03989eff;
	width: 2em;
	height: 2em;
	display: table-cell;
	text-align: center;
}
.img_center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.image_form {
	width: 1.4em;
	height: 1.4em;
	vertical-align: middle;
	padding: auto;
}
.input_form > input {
	border: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #f2f2f2;
	padding: var(--field-padding);
	padding-left: 48px;
	border-radius: 3px;
	width: 500px;
	font-size: 18px;
}
.input_form .placeholder {
	position: absolute;
	left: var(--field-padding);
	bottom: 50%;
	top: 22px;
	transform: translateY(-50%);
	width: calc(100% - (var(--field-padding) * 2));
	color: #aaa;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.forgot-password {
	font-size: 20px;
}
.submit {
	margin: 2em 0 0 0;
	font-size: 20px;
}
.button {
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}
.color-black {
	background-color: #000000ff;
	color: #ffffffff;
}
.color-cyan {
	background-color: #03989eff;
	color: #ffffffff;
}
