h2{
    font-family: 'Great Vibes', cursive;
    font-size: 8vh;
    text-align: center;
}
#dialogContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
#formulair{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 19%;
    left: 8%;
}
.choix {
display: flex;
flex-direction: row;
margin-bottom: 5%;
}
#dialogphoto img{
    position: absolute;
    left: 60%;
    top: 20%;
    width: 30%;
    margin-top: 9%;
    margin-right: 6%;
}
.platForm{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    font-family: 'Inria Serif';
    font-style: normal;
    font-size: 20px;
}

.platFormChoix{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}
select{
    margin-left: 6%;
    height: 5%;
    width: 10%;
}
.mat-dialog-actions{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    position: absolute;
    top: 54%;
    left: 25%;
    width: 50%;
}
.DialogBtn{   
width: 60%;
margin-top: 2%;
color: white;
background-color: 
rgba(3, 152, 158, 0.64);
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 27px;
text-align: center;
text-transform: uppercase;
}