
<!--le body de le header avec background image et deux blocks-->
<div id="HeaderContainer">
    <!--div avec background transparant qui engloub le logo et le button se connecter -->


    <div id="HeaderTop">
        <img src="./assets/images/logo.png" id="logo" alt="logo"> 
        <button id="ConctBtn" routerLink="/login" routerLinkActive="active">Se connecter</button>
        <button id="ConctBtn" routerLink="/registration" routerLinkActive="active">S'enregistrer</button>
      

    </div>
    <!--le nav avec text au milieu de le header -->
    <nav>
        <h1>Bienvenue</h1>
        <ul>
            <li>MENUS</li>
            <li>CARTE</li>
        </ul>
    </nav>
</div>

