

<!--le body de le header avec background image et deux blocks-->


<header>
    <div>
        <div class="carre">
        <div class="container">
            <div class="row">
                <div class="col-7 mx-auto logo">
                    <a href="accueil.html">
                        <img  src="./assets/images/logo.png" width="225" alt="">
                    </a> 
                </div>
                <div class="display-block">
                    <a id="ConctBtn" class="button" href="/login">Connexion</a>
                </div>
            </div>
        </div>
    </div>
    <div class="title container-fluid d-flex justify-content-between">
        <h1>Bienvenue</h1>  
        <ul>
            <li>
                <a href="#menu" class="active">
                    <i class="fas fa-home icon"></i>
                    MENUS
                </a>
            </li>
            <li style="margin-top: 22px;"><a href="#carte">
                    <i class="fas fa-rss icon"></i>
                    CARTE
                </a>
            </li>
       </ul>
    </div>  
    </div>
  
   
</header>
