<button (click)="openDialog()">
  Ajouter un plat
</button>

<div>Menus pour la semaine</div>
<br>
<div *ngFor="let day of createRange(7)">
  {{(day + 1) | day}}
  <div *ngIf="menuAvailableForThisWeek[day].length === 0" class="pad">
    Rien (pour l'instant…)
  </div>
  <div *ngFor="let menu of createRange(menuAvailableForThisWeek[day].length)" class="pad">
    {{menuAvailableForThisWeek[day][menu][0].label}}
    <div *ngFor="let category of createRange(menuAvailableForThisWeek[day][menu][1].length)" class="pad">
      {{menuAvailableForThisWeek[day][menu][1][category] | categoryLabel}}
      <div *ngFor="let meal of createRange(menuAvailableForThisWeek[day][menu][0].meals.length)">
        <div *ngIf="menuAvailableForThisWeek[day][menu][0].meals[meal].category === menuAvailableForThisWeek[day][menu][1][category]" class="pad">
          {{menuAvailableForThisWeek[day][menu][0].meals[meal].label}}
          <img src={{imageMealOfMenus[day][menu][meal].image64}} alt={{menuAvailableForThisWeek[day][menu][0].meals[meal].label}}>
        </div>
      </div>
    </div>
    ({{menuAvailableForThisWeek[day][menu][0].priceDF}} €)
    <br>
  </div>
</div>

<br>
<div>Plats pour la semaine</div>
<br>
<div *ngFor="let meal of mealAvailableForThisWeek">
  <div>{{meal.label}} ({{meal.category | categoryLabel}})</div>
</div>


<!-- <div *ngFor="let meal of fakeMeals">
  {{meal.label}}
</div>
<div *ngFor="let image of fakeImages">
  <img src={{image.image64}} alt={{image.imagePath}}>
</div> -->
