<div class="background">
  <div class="left_area half-transparent">
    <img src="../assets/images/logo.png" alt="lock" class="logo">
    <div class="title">
      Bienvenue
    </div>
    <div class="text">
      Veuillez entrer vos coordonnées s'il vous plaît
    </div>
    <button class="button color-black" routerLink="/auth/login" routerLinkActive="active">CREER UN COMPTE</button>
  </div>
  <div class="right_area">
    <form #userForm="ngForm" class="form-group half-transparent" (ngSubmit)="createUser()">

      <div class="input_form">
        <div>
          <label for="address" class="placeholder" hidden>Adresse</label>
          <input type="text" name="address" id="address" placeholder="Adresse" class="standart-input"
            [(ngModel)]="userInfo.address" required #address="ngModel">
        </div>
        <div [hidden]="address.valid || address.pristine" class="form-danger">
          L'adresse est obligatoire
        </div>
      </div>

      <div class="input_form">
        <label for="town" class="placeholder" hidden>Ville</label>
        <input type="text" name="town" id="town" placeholder="Ville" class="standart-input" [(ngModel)]="userInfo.town"
          required #town="ngModel">
        <div [hidden]="town.valid || town.pristine" class="form-danger">
          La ville est obligatoire
        </div>
      </div>

      <div class="input_form">
        <label for="postal_code" class="placeholder" hidden>Code postal</label>
        <input type="text" name="postal_code" id="postal_code" placeholder="Code postal" class="standart-input"
          [(ngModel)]="userInfo.postalCode" required #postalCode="ngModel" minlength="5" maxlength="5">
        <div [hidden]="postalCode.value != '' || postalCode.pristine" class="form-danger">
          Le code postal est obligatoire
        </div>
        <div *ngIf="postalCode.errors?.['minlength']" class="form-danger">
          Le code postal doit faire 5 caractères
        </div>
      </div>

      <div class="input_form">
        <label for="email" class="placeholder" hidden>Code postal</label>
        <input type="text" name="email" id="email" placeholder="Email" class="standart-input"
          [(ngModel)]="userInfo.email" required #email="ngModel">
        <div [hidden]="email.valid || email.pristine" class="form-danger">
          L'email est obligatoire
        </div>
      </div>

      <div class="input_form">
        <label for="firstname" class="placeholder" hidden>Prénom</label>
        <input type="text" name="firstname" id="firstname" placeholder="Prénom" class="standart-input"
          [(ngModel)]="userInfo.firstname" required #firstname="ngModel">
        <div [hidden]="firstname.valid || firstname.pristine" class="form-danger">
          Le prénom est obligatoire
        </div>
      </div>

      <div class="input_form">
        <label for="lastname" class="placeholder" hidden>Nom de famille</label>
        <input type="text" name="lastname" id="lastname" placeholder="Nom de famille" class="standart-input"
          [(ngModel)]="userInfo.name" required #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="form-danger">
          Le nom de famille est obligatoire
        </div>
      </div>

      <div class="input_form">
        <label for="phone_number" class="placeholder" hidden>Numéro de téléphone</label>
        <input type="text" name="phone_number" id="phone_number" placeholder="N° de téléphone" class="standart-input"
          [(ngModel)]="userInfo.phone" required #phone="ngModel" minlength="10" maxlength="10">
        <div [hidden]="phone.value != '' || phone.pristine" class="form-danger">
          Le numéro de téléphone est obligatoire
        </div>
        <div *ngIf="phone.errors?.['minlength']" class="form-danger">
          Le numéro de téléphone doit faire 10 caractères
        </div>
      </div>

      <div class="input_form label_left">
        <label for="sex" class="placeholder">Genre</label>
        <select name="sex" id="sex" class="select_form" [(ngModel)]="userInfo.sex" required>
          <option value="0">Homme</option>
          <option value="1">Femme</option>
          <option value="2">Autre</option>
        </select>
      </div>

      <!-- <div class="input_form label_left">
            	<label for="avatar" class="placeholder">Avatar</label>
                <input type="file" name="avatar" id="avatar" placeholder="Avatar" accept="image/png, image/jpeg" class="select_form" [(ngModel)]="userInfo.imageId">
            </div> -->

      <!-- <div class="input_form">
            	<label for="password" class="placeholder" >Mot de passe</label>
                <input type="password" name="password" id="password" placeholder="Mot de passe" class="standart-input" matInput required [(ngModel)]="userInfo.password"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"(change)="cs()" >

            </div> -->
      <div class="input_form">
        <label for="password" class="placeholder" hidden>Mot de passe</label>
        <input type="password" name="password" id="password" placeholder="Mot de passe" class="standart-input" matInput
          required [(ngModel)]="userInfo.password"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">

      </div>


      <input type="submit" value="Créer le compte" class="submit button button-form">

    </form>
  </div>
</div>
