
a{
    text-decoration: none;
    color: black;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: #5BBBBF;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;

    height: 100%;
    min-height : 100%;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
}

.sidebar-title>span {
    display: none;
}

.sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 20px;
}

.sidebar-list-item>a {
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 500;
    
    color: white;
	transition: all 0.3s ease-in-out 0s;
}

.sidebar-list-item>a:hover{
    padding: 10px 20px;
    border-radius: 25px;

    cursor: pointer;
    color: #5BBBBF;
    box-shadow: inset 0 -300px 0 0 white;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
      the z-index of the ApexCharts is 11
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar 
      on small screens
    */
    z-index: 12 !important;
}