<!--
Title : Html side menu admin part
Description : 
Author : Thierry Maurouzel
-->

<aside id="sidebar">
  <div class="sidebar-title">
    <div class="sidebar-brand">
      <span class="material-icons-outlined">inventory</span> Bob's Inventory
    </div>
    <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
  </div>

  <ul class="sidebar-list">
    <a [routerLink]="['dashboard']">
      <li class="sidebar-list-item">
        <span class="material-icons-outlined">Tableau de bord</span>
      </li>
    </a>
    <a [routerLink]="['user']">
      <li class="sidebar-list-item">
        <span class="material-icons-outlined">Utilisateurs</span>
      </li>
    </a>
    <a [routerLink]="['']">
      <li class="sidebar-list-item">
        <span class="material-icons-outlined">Menu</span>
      </li>
    </a>
    <li class="sidebar-list-item">
      <a href="#">
        <span class="material-icons-outlined">add_shopping_cart</span> Purchase Orders
      </a>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <span class="material-icons-outlined">shopping_cart</span> Sales Orders
      </a>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <span class="material-icons-outlined">poll</span> Reports
      </a>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <span class="material-icons-outlined">Configuration</span> Settings
      </a>
    </li>
  </ul>
</aside>