<div class="background">
	<div class="left_area half-transparent">
		<img src="../assets/images/logo.png" alt="lock" class="logo">
		<div class="title">
			Bienvenu
		</div>
		<div class="text">
			Veuillez entrer vos coordonnées s'il vous plaît
		</div>
		<button class="button button-login" routerLink="/login" routerLinkActive="active">SE CONNECTER</button>
	</div>
	<div class="right_area">
		<form #userForm="ngForm" class="form-group half-transparent" (ngSubmit)="onSubmit()">

			<div class="input_form">
				<div>
					<label for="address" class="placeholder" hidden>Adresse</label>
	                <input type="text" name="address" id="address" placeholder="Adresse" class="standart-input" [(ngModel)]="user.address" required #address="ngModel">
                </div>
                <div [hidden]="address.valid || address.pristine" class="form-danger">
				    L'adresse est obligatoire
				</div>
            </div>

            <div class="input_form">
            	<label for="town" class="placeholder" hidden>Ville</label>
                <input type="text" name="town" id="town" placeholder="Ville" class="standart-input" [(ngModel)]="user.town" required #town="ngModel">
                <div [hidden]="town.valid || town.pristine" class="form-danger">
				    La ville est obligatoire
				</div>
            </div>

            <div class="input_form">
            	<label for="postalCode" class="placeholder" hidden>Code postal</label>
                <input type="text" name="postalCode" id="postalCode" placeholder="Code postal" class="standart-input" [(ngModel)]="user.postalCode" required #postalCode="ngModel" minlength="5" maxlength="5">
                <div [hidden]="postalCode.value != '' || postalCode.pristine" class="form-danger">
				    Le code postal est obligatoire
				</div>
				<div *ngIf="postalCode.errors?.['minlength']" class="form-danger">
				    Le code postal doit faire 5 caractères
				</div>
            </div>

            <div class="input_form">
            	<label for="email" class="placeholder" hidden>Code postal</label>
                <input type="text" name="email" id="email" placeholder="Email" class="standart-input" [(ngModel)]="user.email" required #email="ngModel">
                <div [hidden]="email.valid || email.pristine" class="form-danger">
				    L'email est obligatoire
				</div>
            </div>

            <div class="input_form">
            	<label for="firstname" class="placeholder" hidden>Prénom</label>
                <input type="text" name="firstname" id="firstname" placeholder="Prénom" class="standart-input" [(ngModel)]="user.firstname" required #firstname="ngModel">
                <div [hidden]="firstname.valid || firstname.pristine" class="form-danger">
				    Le prénom est obligatoire
				</div>
            </div>

            <div class="input_form">
            	<label for="name" class="placeholder" hidden>Nom de famille</label>
                <input type="text" name="name" id="name" placeholder="Nom de famille" class="standart-input" [(ngModel)]="user.name" required #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="form-danger">
				    Le nom de famille est obligatoire
				</div>
            </div>

            <div class="input_form">
            	<label for="phone" class="placeholder" hidden>Numéro de téléphone</label>
                <input type="text" name="phone" id="phone" placeholder="N° de téléphone" class="standart-input" [(ngModel)]="user.phone" required #phone="ngModel" minlength="10" maxlength="10">
                <div [hidden]="phone.value != '' || phone.pristine" class="form-danger">
				    Le numéro de téléphone est obligatoire
				</div>
				<div *ngIf="phone.errors?.['minlength']" class="form-danger">
				    Le numéro de téléphone doit faire 10 caractères
				</div>
            </div>

            <div class="input_form label_left">
            	<label for="sex" class="placeholder">Genre</label>
				<select name="sex" id="sex" class="select_form" [(ngModel)]="user.sex" required>
				    <option value="1">Femme</option>
				    <option value="0">Homme</option>
				    <option value="2">Autre</option>
				</select>
            </div>

            <div class="input_form label_left">
            	<label for="image" class="placeholder">Avatar</label>
                <input type="file" name="image" id="image" placeholder="Avatar" accept="image/png, image/jpeg" class="select_form" [(ngModel)]="user.image">
            </div>

            <div class="input_form">
            	<label for="password" class="placeholder" hidden>Mot de passe</label>
                <input type="password" name="password" id="password" placeholder="Mot de passe" class="standart-input" matInput required [(ngModel)]="user.password" #password="ngModel" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
                <div [hidden]="password.value != '' || password.pristine" class="form-danger">
				    Le mot de passe est obligatoire
				</div>
				<div *ngIf="password.errors?.['pattern']" class="form-danger">
				    Le mot de passe doit contenir au moins 8 caractères, 1 nombre,<br>1 minuscule, 1 majuscule, et 1 caractère spécial (@$!%*?&)
				</div>
            </div>

            <div class="input_form">
            	<label for="password_2" class="placeholder" hidden>Répétez le mot de passe</label>
                <input type="password" name="password_2" id="password_2" placeholder="Répétez le mot de passe" class="standart-input" matInput required [(ngModel)]="user.password_2" #password_2="ngModel">
                <div *ngIf="password.value != password_2.value" class="form-danger">
				    Les mots de passe doivent être identiques
				</div>
            </div>

            <input type="submit" value="Créer le compte" class="submit button button-form" (click)="newUser(); userForm.reset()" [disabled]="!userForm.form.valid">
		</form>
	</div>
</div>
