<div class="background">
	<div class="left_area half-transparent">
		<img src="../assets/images/logo.png" alt="lock" class="logo">
		<div class="title">
			Bienvenu
		</div>
		<div class="text">
			Veuillez entrer vos coordonnées s'il vous plaît
		</div>
	</div>
	<div class="right_area">
		<form class="area_input half-transparent">

			<div class="input_form">
				<label for="address" class="placeholder" hidden>Adresse</label>
                <input type="text" name="address" placeholder="Adresse" class="standart-input">
            </div>

            <div class="input_form">
            	<label for="town" class="placeholder" hidden>Ville</label>
                <input type="text" name="town" placeholder="Ville" class="standart-input">
            </div>

            <div class="input_form">
            	<label for="postalCode" class="placeholder" hidden>Code postal</label>
                <input type="text" name="postalCode" placeholder="Code postal" class="standart-input">
            </div>

            <div class="input_form">
            	<label for="firstname" class="placeholder" hidden>Prénom</label>
                <input type="text" name="firstname" placeholder="Prénom" class="standart-input">
            </div>

            <div class="input_form">
            	<label for="lastname" class="placeholder" hidden>Nom de famille</label>
                <input type="text" name="lastname" placeholder="Nom de famille" class="standart-input">
            </div>

            <div class="input_form">
            	<label for="phone" class="placeholder" hidden>Numéro de téléphone</label>
                <input type="text" name="phone" placeholder="N° de téléphone" class="standart-input">
            </div>

            <div class="input_form label_left">
            	<label for="sex" class="placeholder">Genre</label>
				<select name="sex" id="sex" class="select_form">
				    <option value="1">Femme</option>
				    <option value="0">Homme</option>
				    <option value="2">Autre</option>
				</select>
            </div>

            <div class="input_form label_left">
            	<label for="avatar" class="placeholder">Avatar</label>
                <input type="file" name="email" placeholder="Email" accept="image/png, image/jpeg" class="select_form">
            </div>

            <div class="input_form">
            	<label for="password" class="placeholder" hidden>Mot de passe</label>
                <input type="password" name="password" placeholder="Mot de passe" class="standart-input" matInput required>
            </div>

            <div class="input_form">
            	<label for="password2" class="placeholder" hidden>Répétez le mot de passe</label>
                <input type="password" name="password2" placeholder="Répétez le mot de passe" class="standart-input" matInput>
            </div>

            <input type="submit" value="Créer le compte" class="submit button color-cyan">
		</form>
	</div>
</div>
