<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/cantiniere/src/app/header/headerStyle.css">
    <title>
        header

    </title>
</head>

<!--le body de le header avec background image et deux blocks-->

<body>
    <!--div avec background transparant qui engloub le logo et le button se connecter -->
    <div id="HeaderTop">
        <img id="logo" alt="logo">
        <button id="ConctBtn">Se connecter</button>
    </div>
    <!--le nav avec text au milieu de le header -->
    <nav>
        <h1>Bienvenue</h1>
        <ul>
            <li>Menus</li>
            <li>Carte</li>
        </ul>
    </nav>

</body>

</html>